<div class="searchBar">
    <div class="container">
    <form action="/search" class="search__form" role="search" method="POST">
        <input type="/search" aria-label="Seach" id="searchInput" name="searchTerm" placeholder="search the site..." />
    </form>
    <div id="searchClose">close</div>
    </div>
</div>